@model ETrainerWeb.Models.ViewModels.WorkoutSettingsViewModel
 
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h3>@Localizer["SetSettings"]</h3>
<form method="post">
	<input hidden="true" asp-for="UserName" value="@User.Identity.Name"/>
	<div>
		<label asp-for="Name"></label>
		<input asp-for="Name"/>
		<span asp-validation-for="Name"></span>
	</div>
	<div>
		<label asp-for="IncludeMuscleses"></label>
		<select asp-for="IncludeMuscleses" multiple="true" size="3">
			@foreach (Muscle muscle in ViewBag.Muscles)
			{
				<option value="@muscle.ID">@muscle.Name</option>
			}
		</select>
	</div>
	<div>
		<label asp-for="ExcludeMuscleses"></label>
		<select asp-for="ExcludeMuscleses" multiple="true" size="3">
			@foreach (Muscle muscle in ViewBag.Muscles)
			{
				<option value="@muscle.ID">@muscle.Name</option>
			}
		</select>
	</div>
	<button asp-controller="Workout" asp-action="ShowWorkout">@Localizer["GenerateWorkout"]</button>
	<button asp-controller="Workout" asp-action="SaveWorkoutSettings">@Localizer["SaveSettings"]</button>
</form>