@model ETrainerWeb.Models.Workout

<div>
	@if (Model != null)
	{
		<h3>Workout for settings "@Model.Name":</h3>
		@foreach (var exercise in Model.Exercises)
		{
			<h3>@exercise.exercise.Name</h3>
			<h4>@exercise.exercise.Description</h4>
			<label>Counts: @exercise.counts</label>
			<label>Sets: @exercise.sets</label>
		}
	}
	else
	{
		<label>Something went wrong</label>
	}
</div>
